NEXT_PUBLIC_APP_URL=

WORDPRESS_URL=
WOOCOMMERCE_URL=
WOOCOMMERCE_CONSUMER_KEY=
WOOCOMMERCE_CONSUMER_SECRET=
WORDPRESS_API_USERNAME=
WORDPRESS_APPLICATION_PASSWORD=
AUTH_SECRET=
WORDPRESS_WEBHOOK_SECRET=
PAYMENT_WEBHOOK_SECRET=
